* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}

a {
  text-decoration: none;
  color: black;
}
